@charset "UTF-8";
/**{outline:1px solid yellow;}*/

header {
  color: white;
  position: relative;
  display: block;
  margin-bottom: 200px;
  height: 200px;
}

header img {
  width: 100%;
  height: 250%;
}

nav {
  height: 40px;
  padding-top: 0.5em;
  clear: both;
}

nav ul {
  margin: auto;
  padding: 0.5em;
  list-style-type: none;
}

nav li {
  float: left;
  text-align: center;
  width: 16.66%;
  margin-bottom: 0.5em;
}

nav a {
  background-color: red;
  color: white;
  display: block;
  height: 30px;
  text-decoration: none;
}

nav a:hover {
  background-color: hsl(185, 68%, 53%);
  display: block;
}

/*text formatting*/

body {
  color: white;
}

header h1 {
  color: White;
  font-size: 3.75em;
  position: absolute;
  top: 50%;
  left: 37%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-outline: 6px 6px black;
  text-shadow: 4px 4px 6px rgb(180, 207, 176);
}

h2 {
  padding: 2%;
  color: white;
  text-align: center;
  font-size: 3em;
  text-transform: inherit;
  clear: both;
  /*margin-top: 5em;*/
}

h3 {
  padding: 2%;
  color: white;
  text-align: left;
  font-size: 2em;
  text-transform: inherit;
  clear: both;
}

p {
  padding: 15, 0.5;
  color: white;
  margin-left: 9em;
  margin-right: 9em;
  margin-bottom: 5em;
  font-size: 1.25em;
  clear: both;
}

footer {
  background-color: rgb(180, 207, 176);
  padding: 6px, 0px;
  height: 25px;
  clear: both;
}

img {
  display: block;
  margin: auto;
  margin-bottom: 2px;
  padding: 5px;
  width: 300px;
  height: 250px;
  float: left;
  clear: none;
}

iframe {
  width: inherit;
  height: auto;
  float: left;
  clear: both;
}

ul {
  list-style-type: square;
  list-style-position: outside;
  list-style-image: none;
  text-decoration: none;
}

/*#aboutus {
  padding: 15, 0.5;
  color: white;
  margin-left: 9em;
  margin-right: 8em;
  margin-bottom: 5em;
  clear: both;
}*/

/*#baguette {
  display: block;
  margin: auto;
  padding: 5px;
  width: 1200px;
  height: 250px;
  float: none;
  clear: both;
}

#footer {
  padding: 15, 0.5;
  color: black;
  margin-left: 9em;
  margin-right: 9em;
  margin-bottom: 5em;
  font-size: 1.25em;
  clear: both;
}

#footer2 {
  color: rgb(36, 71, 67);
  text-decoration: none;
  clear: both;
}

#sides {
  padding: 15, 0.5;
  color: white;
  margin-left: 9em;
  margin-right: 9em;
  margin-bottom: 5em;
  font-size: 1.25em;
  clear: both;
  text-align: center;
}

.apps {
  padding: 5px;
  float: left;
  clear: both;
}

.clearfix {
  clear: both;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.contact {
  padding: 15, 0.5;
  color: white;
  margin-left: 9em;
  margin-right: 9em;
  font-size: 1.75em;
  text-align: center;
}

.cost {
  padding: 15, 0.5;
  color: white;
  margin-left: 9em;
  margin-right: 9em;
  margin-bottom: 5em;
  font-size: 1.25em;
  clear: both;
  text-align: center;
}

.drinks {
  padding: 15, 0.5;
  color: white;
  margin-left: 9em;
  margin-right: 9em;
  margin-bottom: 5em;
  font-size: 1.25em;
  clear: both;
  text-align: center;
}

.food {
  float: left;
  width: 50%;
}

.food::after {
  content: "";
  display: table;
  clear: both;
}

.images {
  padding: 5px;
  float: left;
}

.images2 {
  padding: 5px;
  float: left;
  clear: both;
}

.map {
  display: block;
  margin: 0em, 2em;
  margin-bottom: 1em;
  padding: 5px;
  width: 375px;
  height: 375px;
  float: right;
  clear: both;
  text-align: right;
}

.NA {
  float: left;
  width: 25%;
}

.NA::after {
  content: "";
  display: table;
  clear: both;
}

.pizza {
  float: left;
  width: 33.33%;
}

.pizza::after {
  content: "";
  display: table;
  clear: both;
}

.pasta {
  float: left;
  width: 33.33%;
  margin-bottom: 2em;
}

/*Don't use a lot of margins*/*/
